@using Task1_asp.Net.ViewModel;
@model AddViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Add New Product</title>
</head>
<body>

    <div class="container">
        <h2>Add New Product</h2>
        <form asp-route="product-add" method="POST">
            <div class="form-group">
                <label for="productName">Product Name:</label>
                <input asp-for="Name" type="text" class="form-control" id="productName" placeholder="Enter product name">
            </div>
            <div class="form-group">
                <label for="productDescription">Description:</label>
                <input asp-for="Description" type="text" class="form-control" id="productDescription" placeholder="Enter Description">
            </div>
            <div class="form-group">
                <label for="productColor">Color:</label>
                <input asp-for="Color" type="text" class="form-control" id="productColor" placeholder="Enter color">
            </div>
            <div class="form-group">
                <label for="productSize">Size:</label>
                <input asp-for="Size" type="text" class="form-control" id="productSize" placeholder="Enter size">
            </div>
            <div class="form-group">
                <label for="productPrice">Price:</label>
                <input asp-for="Price" type="text" class="form-control" id="productPrice" placeholder="Enter price">
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>

</body>
</html>